body {
    font-family: sans-serif;
    background-color: #fce4ec;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-container {
    width: 400px;
    height: 400px;
    background-color: #fff8e1;
    border: 2px solid #ffb6c1;
    position: relative;
    margin-top: 20px;
    overflow: hidden;
}

.character {
    width: 40px;
    height: 40px;
    position: absolute;
}

#kamael {
    background-color: #000; /* Kamael = hitam */
    top: 300px;
    left: 50px;
}

#embun {
    background-color: #3498db; /* Embun = biru */
    top: 100px;
    left: 200px;
}

#dialog-box {
    margin-top: 20px;
    width: 400px;
    padding: 10px;
    border: 2px solid #ffb6c1;
    background-color: #fff;
    border-radius: 5px;
}

.hidden {
    display: none;
}
